@import url('fonts/fira-sans.css');

/* General Styles */
body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Two Column Layout */
#toc, #content {
  overflow-y: scroll;
  height: 100%;
}
#toc {
  float: left;
  width: 400px;
  padding-left: 20px;
}
#content {
  width: auto;
  padding-left: 70px;
}

/* TOC */
#toc h1, #toc h2, #toc h3, #toc h4 {
  padding-left: 5px;
}
#toc h2 {
  margin-left: 15px;
}
#toc h3 {
  margin-left: 30px;
}
#toc h4 {
  margin-left: 40px;
}
#toc .active {
  color: white;
  background-color: black;
}

/* Headings */
#content h1, #content h2, #content h3, #content h4 {
  margin-top: 0;
}
#content h1 {
  padding-top: 25px;
  margin-left: -30px;
}
#content h2 {
  padding-top: 20px;
}
#content h3 {
  padding-top: 15px;
}
#content h4 {
  padding-top: 10px;
}
#content h1:not(:first-of-type) {
  margin-top: 60px;
}
#content h1:first-of-type {
  padding-top: 20px;
  margin-top: 0px;
}



#content table {
  border: 20px solid #ddd;
  max-width: 600px;
}

#content td {
  padding: 10px;
  vertical-align: top;
}

#content a {
  background-color: black;
  color: white;
}
